Source: ros-noetic-clearpath-mission-scheduler-msgs
Section: misc
Priority: optional
Maintainer: Chris Iverach-Brereton <civerachb@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-actionlib, ros-noetic-actionlib-msgs, ros-noetic-catkin, ros-noetic-clearpath-mission-manager-msgs, ros-noetic-clearpath-navigation-msgs, ros-noetic-message-generation, ros-noetic-message-runtime, ros-noetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-clearpath-mission-scheduler-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-actionlib, ros-noetic-actionlib-msgs, ros-noetic-clearpath-mission-manager-msgs, ros-noetic-clearpath-navigation-msgs, ros-noetic-message-generation, ros-noetic-message-runtime, ros-noetic-std-msgs
Description: The clearpath_mission_scheduler_msgs package
